@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.carousel-item {
  padding: 0px 25px 25px 25px;
}
.carousel-item2 {
  padding: 0px 0px 0px 0px;
}
.carousel-item-small {
  padding: 0px 0px 0px 0px;
}
.sort-box {
  width: 180px;
}

#demo-simple-select-label {
  font-family: "Ysabeau Office", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 14px;
}

#demo-simple-select {
  font-family: "Ysabeau Office", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 12px;
  padding: 8px 15px 15px 15px;
}

.carousel-item1 {
  display: none;
}

.selected {
  background-color: lightblue;
}

@media (min-width: 900px) {
  .carousel-item2 {
    display: none;
  }
  .carousel-item1 {
    display: block;
  }
}

@media (max-width: 768px) {
  .sort-box {
    width: 170px;
    padding: 0;
  }

  #demo-simple-select {
    font-family: "Ysabeau Office", sans-serif;
    font-weight: 400;
    color: black;
    font-size: 12px;
    padding: 8px 15px 15px 15px;
  }
}
