@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.carousel-item {
  padding: 0px 25px 25px 25px;
}
.carousel-item2 {
  padding: 0px 0px 0px 0px;
}
.carousel-item-small {
  padding: 0px 0px 0px 0px;
}

.sort-box {
  width: 200px;
}
.carousel-item1 {
  display: none;
}

.selected {
  background-color: lightblue; /* or any other style you prefer */
}

@media (min-width: 900px) {
  .carousel-item2 {
    display: none;
  }
  .carousel-item1 {
    display: block;
  }
}
